# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
barofm.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
hynet.egg-info/*
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage*
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
service/*

# recipe related
egs/*/*/data*
egs/*/*/db
egs/*/*/downloads
egs/*/*/dump
egs/*/*/enhan
egs/*/*/exp
egs/*/*/fbank
egs/*/*/mfcc
egs/*/*/stft
egs/*/*/tensorboard
egs/*/*/wav*

# tools related
tools/bin
tools/include
tools/lib
tools/lib64
tools/miniconda.sh
tools/venv/
tools/swig/
tools/*.done

tools/espnet/
tools/fairseq/
tools/kaldi/
tools/installer_espnet/
tools/activate_python.sh
tools/sph2pipe*
tools/sctk*